.container {
    position: relative;
}
.header {
    padding: 15px;
    border-bottom: 2px solid black;
}
.header a {
    text-decoration: none;
    color: black;
}
.form {
    width: 500px;
    margin: 0 auto;
    padding-top: 15px;
}
.save {
    position: absolute;
    top: 20px;
    right: 35px;
}
.specialAttribute > h3 {
    margin-top: 15px;
    color: rgb(0, 179, 0);
    text-align: center;
}
span {
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.checkAllCheckboxes {
    position: absolute;
    top: 28px;
    right: 130px;
}
.delete {
    position: absolute;
    top: 20px;
    right: 35px; 
}
.catalogue {
    display: flex;
    flex-wrap: wrap;
}
.view {
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    position: relative;
}
.viewCheckbox {
    position: absolute;
    top: 5px;
    right: 5px;
}
